<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Rotp secret:</strong>
  <%= @user.rotp_secret %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= render 'form_actions' %>
